:root {
  --color-bg: #706c68;
  --color-bg-alt: #55504b;
  --color-dark: #151419;
  --color-accent: #7f785c;
  --color-accent-alt: #ffca4d;
  --color-text: #FFF;
  --color-accent-main: #2f2b26;

  --transition-duration: 0.2s;

  --font-family-base: 'Raleway', sans-serif;

  --section-padding-x: 40px;
}