@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-bg: #706c68;
  --color-bg-alt: #55504b;
  --color-dark: #151419;
  --color-accent: #7f785c;
  --color-accent-alt: #ffca4d;
  --color-text: #FFF;
  --color-accent-main: #2f2b26;
  --transition-duration: 0.2s;
  --font-family-base: "Raleway", sans-serif;
  --section-padding-x: 40px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 879px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 880px) {
  .visible-mobile {
    display: none !important;
  }
}

.wow {
  opacity: 0;
  transform: translateY(-20%);
  transition: all 1s ease-out;
}

.animated {
  transform: translateY(0);
  opacity: 1;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-accent-alt);
  background-color: var(--color-bg);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

.header-top {
  display: flex;
  align-items: self-start;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--section-padding-x);
  padding-top: 18px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
@media (max-width: 1199px) {
  .header-top {
    padding-inline: 18px;
  }
}
.header-top::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 50%, transparent);
  content: "";
  position: absolute;
  width: 100%;
  height: 112px;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 1;
  z-index: -10;
}
.header-top__logo {
  font-size: 50px;
  font-weight: 600;
  text-shadow: 0 0 5px #acb378;
}
.header-top__logo p {
  font-size: 26px;
  text-align: center;
  color: #fff;
}
@media (max-width: 879px) {
  .header-top__logo p {
    font-size: 16px;
  }
}
@media (hover: hover) {
  .header-top__logo:hover {
    opacity: 0.8;
  }
}
@media (hover: none) {
  .header-top__logo:active {
    opacity: 0.8;
  }
}
@media (max-width: 1199px) {
  .header-top__logo {
    font-size: 36px;
  }
}
@media (max-width: 879px) {
  .header-top__logo {
    font-size: 28px;
  }
}
.header-top .menu {
  display: flex;
  font-size: 22px;
}
@media (max-width: 1199px) {
  .header-top .menu {
    font-size: 18px;
  }
}
@media (max-width: 879px) {
  .header-top .menu {
    font-size: 16px;
  }
}
.header-top .menu-list {
  display: flex;
  color: #fff;
  align-items: center;
}
.header-top .menu-item {
  cursor: pointer;
  padding: 10px 20px;
  position: relative;
}
@media (hover: hover) {
  .header-top .menu-item:hover::after {
    width: 90%;
  }
}
@media (hover: none) {
  .header-top .menu-item:active::after {
    width: 90%;
  }
}
@media (max-width: 1199px) {
  .header-top .menu-item {
    padding: 10px 10px;
  }
}
.header-top .menu-item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: var(--transition-duration);
}
.header-top .menu-item:last-child() {
  padding-right: 20px;
}
.header-top .menu button {
  height: 68px;
  padding-inline: 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-accent-alt);
  cursor: pointer;
}
@media (hover: hover) {
  .header-top .menu button:hover {
    background-color: var(--color-dark);
    color: var(--color-accent-alt);
  }
}
@media (hover: none) {
  .header-top .menu button:active {
    background-color: var(--color-dark);
    color: var(--color-accent-alt);
  }
}
@media (max-width: 1199px) {
  .header-top .menu button {
    height: 58px;
  }
}
@media (max-width: 879px) {
  .header-top .menu button {
    height: 48px;
    padding-inline: 10px;
  }
}

.description {
  max-width: 700px;
  margin-inline: auto;
  font-size: 28px;
  padding-top: 250px;
  padding-bottom: 125px;
  background-image: url("/images/hero4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 2s;
  max-width: 100%;
}
@media (max-width: 879px) {
  .description {
    font-size: 24px;
  }
}
.description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.description-top {
  max-width: 700px;
  text-align: center;
  padding-bottom: 40px;
  padding: 30px;
  border: none;
  border-radius: 20px;
  text-shadow: 0 0 5px #acb378;
}
.description-bot {
  max-width: 600px;
  text-align: center;
  padding: 20px;
  border: none;
  border-radius: 20px;
  font-size: 24px;
  position: relative;
  text-shadow: 0 0 5px #acb378;
}
@media (max-width: 879px) {
  .description-bot {
    font-size: 20px;
  }
}

.section {
  display: flex;
  flex-direction: column;
}
.section-top {
  display: flex;
  align-items: center;
  margin: 60px 0 60px;
}
.section-top__line {
  height: 4px;
  width: 100%;
  background-color: var(--color-accent-alt);
  position: relative;
}
.section-top__name {
  color: var(--color-accent-alt);
  text-align: center;
  border-radius: 10px;
  padding: 0 20px;
  font-size: 36px;
  font-weight: 500;
}

.services {
  max-width: 1240px;
  margin: 120px auto;
  padding-inline: 20px;
  font-size: 32px;
}
@media (max-width: 879px) {
  .services {
    font-size: 22px;
    padding-inline: 0;
  }
}
@media (max-width: 424px) {
  .services {
    font-size: 18px;
  }
}
.services h1 {
  color: #fff;
}
.services-item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border: 2px solid black;
  background-color: var(--color-dark);
  border-radius: 6px;
}
.services-item__val {
  padding: 20px;
}
.services-item__val-name {
  align-self: center;
}
@media (max-width: 879px) {
  .services-item {
    border-radius: 0;
    padding: 10px;
  }
}
.services-item__prop {
  border-radius: 6px;
  font-weight: 600;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding: 20px;
  background-color: var(--color-bg);
}
@media (max-width: 879px) {
  .services-item__prop {
    font-size: 26px;
    padding-inline: 10px;
    width: 100%;
  }
}
@media (max-width: 424px) {
  .services-item__prop {
    font-size: 20px;
  }
}
.services-item__val {
  display: flex;
  justify-content: space-between;
}
.services-item__val:not(:last-child) {
  border-bottom: 2px solid #fff;
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-accent);
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  width: 70%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 10px;
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-accent);
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
  box-shadow: 0 -8px, 0 8px;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 14px 20px;
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}

.masters {
  background-color: var(--color-bg-alt);
}

.masters-sld {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 424px) {
  .masters-sld {
    display: inline;
    position: relative;
  }
  .masters-sld button {
    position: absolute;
  }
  .masters-sld .prev {
    bottom: -10%;
    left: 0;
  }
  .masters-sld .next {
    bottom: -10%;
    right: 0;
  }
}

.masters-wrapper {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
@media (max-width: 1100px) {
  .masters-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 660px) {
  .masters-wrapper {
    margin-bottom: 80px;
  }
}
.masters-wrapper .masters-slider {
  gap: 10px;
  max-width: 622px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
@media (max-width: 750px) {
  .masters-wrapper .masters-slider {
    max-width: 302px;
  }
}
.masters-wrapper .masters-slider::-webkit-scrollbar {
  width: 0;
}
.masters-wrapper .masters-slider .masters-slide {
  flex-shrink: 0;
  background-color: #2b2b2b;
  box-sizing: content-box;
  color: #ffca4d;
  scroll-snap-align: start;
  max-width: 600px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
}
@media (max-width: 750px) {
  .masters-wrapper .masters-slider .masters-slide {
    max-width: 280px;
  }
}
@media (max-width: 750px) {
  .masters-wrapper .masters-slider .masters-slide__link {
    display: none;
  }
}
.masters-wrapper .masters-slider .masters-slide__header {
  display: flex;
}
@media (max-width: 750px) {
  .masters-wrapper .masters-slider .masters-slide__header {
    flex-direction: column;
  }
}
.masters-wrapper .masters-slider .masters-slide__header img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-right: 20px;
  border-radius: 6px;
  transform-origin: left top; /* Это поможет контролировать точку масштабирования */
  transition: transform 0.3s ease; /* Добавим плавность */
}
@media (max-width: 750px) {
  .masters-wrapper .masters-slider .masters-slide__header img {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
.masters-wrapper .masters-slider .masters-slide__header img:hover {
  transform: scale(1.6);
}
@media (max-width: 1199px) {
  .masters-wrapper .masters-slider .masters-slide__header img:hover {
    transform: scale(1.45);
  }
}
@media (max-width: 750px) {
  .masters-wrapper .masters-slider .masters-slide__header img:hover {
    transform: scale(1);
  }
}
.masters-wrapper .masters-slider .masters-slide__info {
  align-self: end;
  font-size: 24px;
}
@media (max-width: 750px) {
  .masters-wrapper .masters-slider .masters-slide__info {
    align-self: start;
    text-align: center;
  }
}
.masters-wrapper .masters-slider .masters-slide__info-post {
  font-size: 20px;
}
.masters-wrapper .masters-slider .masters-slide__body {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid black;
  font-size: 20px;
}
@media (max-width: 1199px) {
  .masters-wrapper .masters-slider .masters-slide__body {
    font-size: 18px;
  }
}

.masters-wrp {
  max-width: 700px;
  font-size: 28px;
  border-left: 3px solid black;
  padding: 10px;
  margin-right: 60px;
}
@media (max-width: 1199px) {
  .masters-wrp {
    font-size: 20px;
  }
}
@media (max-width: 1100px) {
  .masters-wrp {
    margin-right: 0;
    border-left: none;
    border-bottom: 3px solid black;
    margin-bottom: 30px;
  }
}

.masters-slide__link {
  margin-left: auto;
}
.masters-slide__link svg {
  width: 40px;
}

.prev, .next {
  font-size: 60px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.prev:hover, .next:hover {
  opacity: 0.5;
}

.works {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 2400px;
  overflow: hidden;
  display: flex;
  margin-bottom: 60px;
}
@media (max-width: 2400px) {
  .works {
    width: 100%;
  }
}
.works:hover .works-list {
  animation-play-state: paused;
}
.works > * {
  flex: 0 0 100%;
}
.works-list {
  display: flex;
  gap: 20px;
  padding-right: 20px;
  will-change: transform;
  animation: scrolling 20s linear infinite;
}
.works-item {
  box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 20px 0;
  padding: 20px;
  width: 440px;
  height: 440px;
}
@media (max-width: 1199px) {
  .works-item {
    width: 320px;
    height: 320px;
    padding: 10px;
  }
}
.works-item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
  width: 400px;
}
@media (max-width: 1199px) {
  .works-item img {
    width: 300px;
    height: 300px;
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.contacts {
  background-color: var(--color-bg-alt);
}

.contact {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  margin-inline: auto;
  max-width: 1440px;
  margin-bottom: 60px;
}
@media (max-width: 1199px) {
  .contact {
    gap: 40px;
  }
}
@media (max-width: 879px) {
  .contact {
    margin-inline: 0;
    flex-direction: column;
  }
}
@media (max-width: 1199px) {
  .contact-map {
    aspect-ratio: 16/9;
    width: 300px;
  }
}
@media (max-width: 879px) {
  .contact-map {
    width: 320px;
  }
}
.contact-content {
  border: none;
  border-radius: 20px;
  padding: 36px 60px;
  background-color: var(--color-accent-alt);
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  color: black;
  font-weight: 500;
}
@media (max-width: 879px) {
  .contact-content {
    border-radius: 0;
  }
}
.contact-content span {
  font-weight: 300;
  font-size: 18px;
}
.contact-content__socials {
  display: flex;
}
.contact-content__socials img {
  height: 48px;
  width: 48px;
}

.footer .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 40px;
  font-size: 22px;
}
.footer .nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.footer .nav-list__item {
  height: 38px;
  cursor: pointer;
}
@media (hover: hover) {
  .footer .nav-list__item:hover {
    color: #fff;
  }
}
@media (hover: none) {
  .footer .nav-list__item:active {
    color: #fff;
  }
}
.footer .nav-list__item-up {
  display: flex;
  gap: 4px;
}
.footer .nav-list__item-up img {
  width: 22px;
  height: 22px;
}/*# sourceMappingURL=styles.css.map */